<html>
<head>
    <title>Create Bookmark</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/chosen.css"/>
</head>
<body>
   <form class="form well" action="./save" method="POST">
       <label>Title</label>
       <input name="title" value="{{title}}" class="span4"/>
       <label>Tags</label>
       <select name="tags" id="topicTags" multiple data-placeholder="Choose some tags.">
       {{#each tags}}
            <option>{{.}}</option>
       {{/each}}
       </select>

       <input type="hidden" name="screenshot" id="screenshot"/>
       <input type="hidden" name="screenshot_small" id="screenshot_small"/>

       <label>Note</label>
       <textarea name="short_text" id="bookmarkShortText"  class="span4"></textarea>

       <label>Url</label>
       <input name="url" value="{{url}}"  class="span4"/>
       <label></label>
       <input type="submit" value="save" class="btn btn-primary"/>
       <input type="submit" value="Save with screenshot" class="btn btn-primary ss" disabled="disabled"/>
       <a href="javascript:parent.postMessage('close', '*')" class="btn">Cancel</a>
   </form>
   <script type="text/javascript" src="static/js/lib/jquery-1.7.1.min.js"></script>
   <script type="text/javascript" src="static/js/lib/chosen.jquery.min.js"></script>
   <script type="text/javascript">
       parent.postMessage('ready', '*');
       window.addEventListener("message", function(message){

           if (message.data.size == 'large') {

               var img = message.data.img.substring(22);
               $('#screenshot').val(img);
           }
           if (message.data.size == 'small') {
               var img = message.data.img.substring(22);
               $('#screenshot_small').val(img);
           }
           $('.btn-primary.ss').removeAttr('disabled');
       }, false);
       $(function(){
           $('#topicTags').chosen({no_results_text: "No results matched", create_option : function(terms){
               var me = this;
               var hash = terms.toLowerCase().replace(/ /g, '_');
               var tag = {
                   type : 'garden.tag',
                   name : terms,
                   hash : hash
               };
               $.ajax({
                     url :  './_db' ,
                     type: 'POST',
                     contentType : 'application/json',
                     data : JSON.stringify(tag),
                     success : function(result) {
                         return me.select_append_option({
                           value: terms,
                           text: terms
                         });
                     },
                     error : function() {
                         console.log('error');
                     }
               });

           }});
       });
   </script>
</body>
</html>